.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

*.vsix

.direnv
result
__pycache__
**.pyc

node_modules/
package-lock.json
package.json